a{
  margin-left: 5px;
  margin-right: 5px;
}
container {
  margin-top: 20px;
}

.l{
  display: inline-block;
}

.r{
  display: inline-block;
  margin: 15px;
  /*padding-top: 20px;*/
  text-align: justify;
  vertical-align: bottom;

}
